<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>helloWorldServlet</servlet-name>
        <servlet-class>com.corp.will.servlet.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloWorldServlet</servlet-name>
        <url-pattern>/servlet/helloWorld.jsp</url-pattern>
    </servlet-mapping>
</web-app>